/* html */
* {
    margin: 0;
    padding: 0;
}

:root{
    --darkpurple :#430b4c;
    --purple : #e4a5ef;
    --lightblue : #d6e6ef;
    --blue: #2143ec;
}

html{
    font-size: 15px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    width: 100%;
    height: 100%;

}
.main{
    position: relative;
    top: 160px;
    width: 80vw;
    margin: 0 auto;
}

/* header */
header{
    position: fixed;
    width: 100vw;
    height: 160px;
    z-index: 100;
    background-color: white;
}

 .header-container{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 0 4rem;
    border-bottom: 7px solid var(--darkpurple);
 }
 .logo {
    margin-left: 10px;
    margin-top: 0px;
}

.navbar{
    height: 80px;
    padding: 2rem;
}
 .nav-items {
    display: flex;
    list-style: none;
}

.navbar li a, .profile-box li a{
    margin: 0 1rem;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    position: relative; 
}
.navbar li a::after, .profile-box li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--darkpurple);
}

.navbar li a:hover::after, .profile-box li a:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}
.header-container .icons {
    display: flex;
}
.header-container .icons i {
    margin-left: 2rem;
    font-size: 1.5rem;
    color: black;
}
#menu-button{
    display: none;
}
.header .profile-box{
  position: absolute;
  z-index: 10;
  top: 80px;
  height: 150px;
  padding: 2rem;
  align-items: center;
  margin: auto;
  right: 100px;
  display: block;
  border: 1px solid var(--darkpurple);
  background-color: var(--purple);
  transition: .3s ease;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.header .profile-box ul{
  list-style: none;
 }

.header .profile-box.active{
  z-index: 90;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.header .profile-box li a{
  display: block;
  margin: 1rem;
  text-align: center; 
} 
.header .profile-box li{

  border-bottom:1px solid black ;
} 

/* footer */
.footer{
    position: relative;
    width:100vw;
    height: 250px;
    margin-top: 3rem;
    bottom: -250px;
}
.footer .container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.footer-top{
    background-color: var(--purple);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 3rem;
} 
.footer-bottom div{
    border-top: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-top .card{
    margin: 1rem;
}

.footer-top .card .join form{
   margin-top: 1rem;
}
.footer-top .card .join input{
    height: 30px;
    border-radius: 50px;
    padding: 1rem;
 }

.footer .card li{
    line-height: 1.5rem;
    font-size: 16px;
}
.footer .card p{
   margin-bottom: 1rem;
    font-size: 16px;
}
.footer .socials{
    display: flex;
    justify-content: space-between;
    width: 40%;
   
}
.footer .socials .icons {
    margin-top: 1rem;
}

.footer .socials .icons i{
    color: black;
}
.footer .card ul{
    list-style: none;
}
.footer .card li a{
    color: black;
    text-decoration: none;
}

/* products*/
.welcome{
    width: auto;
    height: 160px;
    padding: 1rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 50px;
    background-color: var(--purple);
    margin-bottom: 5rem;
  }

  .welcome p{
    margin-top: 1rem;
    width: 50rem;
  }
  .welcome img{
    margin-top: 5px;
    margin-bottom: 5px;
  }
.container-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(24rem,24rem));
}
.container-box .box{
    padding: 1rem 2rem;
    margin: 2rem;
    position: relative;
    border-radius: 20px;
}
  
.container-box  .image{
    width: 100%;
    height: 60%;
}
.container-box .box .name, .item .name{
    font-size: 1.2rem;
    color: #555;
    text-transform: capitalize;
    text-decoration: none;
}
.container-box .box #addToWishlist, #deleteFromWishlist, #deleteFromCart{
    position: absolute;
    top: 50px;
    right: 30px;
    background: transparent;
}
.container-box .box #addToCart{
    margin-left: 10px;
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--purple);
    border-radius: 5px;
    background: var(--purple);
    padding: 5px;
  
}
.container-box .box i{
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: .5rem;
    color: #555;
    background: transparent;
  
}
.container-box .box button{
    border: none;
    background: transparent;
  
}
.container-box .box .flex{
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}
.container-box .box .price, .item .price, .item .d{
    font-size: 1.1rem;
    color: #555;
    margin-right: auto;
}
  
.container-box .box  .quantity, .item .quantity{
    border-radius: .5rem;
    padding: .5rem 1rem;
    width: 5rem;
    height: 2rem;
    font-size: 1.1rem;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background: var(--purple);
}
.container-box .box .btn, .item .btn{
    position: absolute;
    top: 1%;
    right: auto;
    left: auto;
    color: black;
    padding: 3px;
    border: 1px solid --darkpurple;
    border-radius: 5px;
    background-color: var(--purple);
    text-decoration: none;
}
.container-box .box .btn:hover,.container-box .box i:hover{
    background: var(--darkpurple);
}
.container-box .box i:hover{
    color: var(--darkpurple);
    background: transparent;
    box-shadow: inset 0 0 5px var(--darkpurple),  0 0 25px var(--darkpurple),  0 0 50px var(--darkpurple),  0 0 100px var(--darkpurple);
  
    
}
.container-box .box .button{
    align-items: center;
}
.products .line, .item a{
    text-decoration: none;
}

.products .cart-total{
    border-radius: .5rem;
    /* max-width: 50vw; */
    margin: 2rem auto;
    text-align: center;
    padding: 2rem;
  }
  .products .cart-total p{
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #555;
    text-transform: capitalize;
  }

/* view product */
.item{
    width: 100%;
    align-items: center;
}
.item-box{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.item-box img{
    width: 600px;
    height: 447px;
}
.item-details{
    margin: 1rem auto;
    background-color: var(--purple);
    padding: 3.2rem;
    border-radius: 15px;
    box-shadow: 0 0 5px var(--darkpurple),  0 0 25px var(--darkpurple),  0 0 50px var(--darkpurple),  0 0 100px var(--darkpurple);
}
 
.item .name{
    font-size: 30px;
    margin-bottom: 1rem ;
}
.item .price{
    font-size: 25px;
    margin-bottom: 1rem ;
}
.item .d{
    font-size: 15px;
    margin-bottom: 1rem ;
}
.item  .quantity{
    width: 120px;
    margin-bottom: 1rem ;
    font-size: 1rem;
    font-weight: bold;
}
.item  .btn{
    position: static;
    padding: 1rem 2.5rem;
    display: flex;
    border: 1px solid black;
    align-items: center;
    background:#dbd2d2;
  
}
.item-details .flex{
    width: 100%;
}
.item-details .flex{
    width: 100%;
}
.item-details .flex button, .item .btn {
    width:150px;
    height: 60px;
    margin-bottom: 1rem ;
    font-size: 1rem;
}
.item-details .flex #addToWishlist:hover,.item-details .flex #addToCart:hover, .item .btn:hover {
    background: var(--purple);
}
.item-details #addToWishlist,.item-details #addToCart{
    background: var(--darkpurple);
}

/** login */
.login-page{
    position: relative;
    top: 180px;
    width: 100vw;
    height: 35vw;
    display: flex;
    align-items: center;
  }
  .form{
    margin: 0 auto;
    text-align: center;
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  #login-f{
    display: block;
  }
  #register-f{
    display: none;
  }
  .form input ,.form select{
    width: 100%;
    padding: 10px 0;
    font-size: 13px;
    color: black;
    /* margin-bottom: 30px; */
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: white;
  }
  .form h2{
    color: var(--darkpurple);
  }
  .form .form-message{
    margin: 15px 0 0 ;
    color:black;
    font-size: 13px;
}

.form .form-message button{
    text-align: center;
    color: black;
    padding: 3px;
    text-decoration: none;
    font-size: 15px;
    background: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--purple),  0 0 25px var(--purple),  0 0 50px var(--purple),  0 0 100px var(--purple);
}
.form .form-message button:hover{
    background: var(--darkpurple);
}

#submit-button{
    text-align: center;
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 15px;
    letter-spacing: 2px;
}
#submit-button:hover{
    background: var(--darkpurple);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--darkpurple),  0 0 25px var(--darkpurple),  0 0 50px var(--darkpurple),  0 0 100px var(--darkpurple);
}

/* contact us */
.mainC{
    position: relative;
    top: 200px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
}
.first{
    border: 2px solid var(--lightblue);
    width: 25%;
    height: 200px;
    padding: 30px;
    background-color: var(--lightblue);
    text-align: left;
    box-shadow: 20px 20px 25px var(--darkpurple); 
}
.first p{
    font-size: 25px;
    color: var(--darkpurple);
    margin-bottom: 15px;
}
.first address{
    font-size: 20px;
    color: var(--darkpurple);
}
.second{
    border: 2px solid var(--lightblue);
    width: 25%;
    height: 200px;
    padding: 30px;
    background-color: var(--lightblue);
    text-align: left;
    margin-left: 300px;
    box-shadow: 20px 20px 25px var(--darkpurple); 

}
.second h1{
    text-align: center;
    margin-bottom: 30px; 
    color: rgb(44, 1, 85);
}
.second h4, .second h5, .second h6{
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 10px;
}
.second a{
    text-decoration: none;
    color: var(--blue);
}
.second a:hover{
    color: var(--darkpurple);
}